*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #002339;
    color: #fff;

}

.container{
    margin: 12%;
    width: 80%;
    max-width: 35rem;

}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 10px;
}

.container h1{
    font-weight: 500;
    font-size: 2.8rem;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
    
}

.display img {
    width: 30px;
    cursor: pointer;

}

.display input {
    border: 0;
    outline: 0;
    font-size: 1.5rem;
}

.container button img {
    width: 28px;
    margin-right: 0.6rem;

}

.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 25px;
    border-radius: 10px;
    cursor: pointer;
    
}